#box-one{
    background-color: aquamarine;
    height:120px;
    width:120px;
    margin:20px;
    display: flex;
    flex-direction: column;

}
#box-container{
    padding:20px;
    overflow:hidden;
}
.bigger{
    margin-top:70px;
}
.minbox{
    margin:auto;
    height:25px;
    width: 25px;
    background-color: white;

}
#box-two{
    background-color: aquamarine;
    height:100vh;
    width:360px;
    margin:20px;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:30px;
    left:0
}